:root {
  --whiteColor: white;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f4f4f5;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
  height: 100vh;
}

.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.header .header__menu-icon {
  transform: rotate(90deg);
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.protfolio {
  padding-left: 90px;
  display: grid;
  grid-template-columns: minmax(250px, 1fr);
  grid-auto-columns: minmax(250px, 1fr);
  grid-template-rows: 45vh;
  grid-auto-rows: 45vh;
  grid-auto-flow: column;
  overflow: scroll;
  grid-gap: 50px;
  padding-bottom: 50px;
  align-self: center;
}

.portfolio::-webkit-scrollbar {
  display: none;
}

.protfolio .portfolio__item:first-child {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://i.pinimg.com/564x/f4/ba/52/f4ba52cec1e2a73fcf28b4b782406b2c.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.protfolio .portfolio__item:nth-child(2) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://i.pinimg.com/564x/39/9a/0e/399a0e3f0ba2e105203298fd538c7dcb.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.protfolio .portfolio__item:nth-child(3) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ae/Hanging_Gardens_of_Babylon.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.protfolio .portfolio__item:nth-child(4) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://lh3.googleusercontent.com/proxy/fTj-Jm5q8OZinVnlJowvoD16TnPYTXwsJisJkDT1xbVK1twmZPa1moku0dmYcboCz9Tm-ZiIE0tBXlB-IazBPMv2trhiFeMfQU7pDk_fkJv_c5kiHZ7vbZ-Y1XzmzxF53jVHCP3hb6TTCGmz4VyrezI3ofWVZmh5JzqciCpO);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.protfolio .portfolio__item:nth-child(5) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/El_Coloso_de_Rodas.jpg/250px-El_Coloso_de_Rodas.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.protfolio .portfolio__item:nth-child(6) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://lh3.googleusercontent.com/proxy/Fd_iGoa1nVy_vbtlT_8BHbRxqLPA9HwFwYUmru1dzC-WVLz6roH6yZVcioMI0ugFvryyku0xrDEF4ZsVpbSHFM9gZGvCdh1C6YGY5a4F2VsnWK5hlVe6anhmpbDbKtyaypMwFrX0jeuAxr5M4rzyv5wEser90MqRB6KsZWT_GUWZzrnhOTc6m-oqm1-dGC2N);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.protfolio .portfolio__item:nth-child(7) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Lighthouse_-_Thiersch.png/1280px-Lighthouse_-_Thiersch.png);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.protfolio .portfolio__item:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://i.pinimg.com/564x/fa/ed/f7/faedf7bad0593474d09a3722178acfd0.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 38px rgba(0, 0, 0, 0.22);
}

.portfolio__item .item__info {
  background-color: var(--whiteColor);
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

.footer .navigation {
  width: 100%;
  background-color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.navigation svg {
  fill: rgba(0, 0, 0, 0.5);
}

.navigation .navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.navigation__icons .navigation__icon {
  margin-left: 10px;
}
